header, h1{/*especificidad  0 0 1, 0 0 1*/
  background-color: #EFB810;
  color: #000;
  border: 0px solid #000000;
}

#separador {/*especificidad  1 0 0*/
  background-color: #EFB810;
  color: #000;
  border: 0px solid #000000;
}

.reseña>h3, .reseña>h5{ /*especificidad  0 1 1, 0 1 1*/
    font-size: 1.25em;
}

.reseña  {  /*especificidad   0 1 0*/
  margin: 2em 22.5% 2em;
  box-sizing: content-box;
  border-radius: 2em;
  background-color: #FEA680;
  color: #000;
  font-size: 1.15em;
  padding-bottom: 1em;
  width: 50%
}
.puntuacion{  /*especificidad   0 1 0*/
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
}

.recomend{  /*especificidad   0 1 0*/
  margin: 2em 22.5% 2em;
  border: 5px solid #FEA680;
  padding: 1em 2.5% 2em;
  box-sizing: content-box;
  width: 50%;
  float: left;
}
.recomend img {/*especificidad   0 1 1*/
  width: 20%;
  height: auto;
}
.info {/*especificidad   0 1 0*/
  padding: 1%;
  width: 75%;
  height: auto;
  border: 4px solid white;
  float: right;
}

video { /*especificidad   0 0 1*/
  width: 60%;
  height: auto;
  margin: 2em 20% 2em;
}

#intro {  /*especificidad   1 0 0*/
  text-align: center;
}

footer{ /*especificidad   0 0 1*/
  float: left;
  padding-top: 2em;
}
