body {
      font: 400 15px Courier New, sans-serif; /*Familia sans-serif*/
      line-height: 1.5;
      background-color: #000000;
      color: #fff
  }

header {
  background-color: #EFB810;
  color: #000
  border-radius: 27px 27px 27px 27px;
  -moz-border-radius: 27px 27px 27px 27px;
  -webkit-border-radius: 27px 27px 27px 27px;
  border: 0px solid #000000;
  padding-left: 80px
}

#sidebar {
float: left;
  border: 1px solid red;
  width: 200px;
}
aside {
  position: fixed;
  top: 20px;
  border: 1px solid red;
}

.navBar {
  overflow: hidden;
  background-color: #EFB810;
  position: -webkit-sticky; /* Safari */
position: sticky;
}

.navBar a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 15px 15px;
  text-decoration: underline;
}

.navBar a:hover {
  background-color: #000;
  color: #FFF;
}

.title {
  color: #000;
  background-color: #EFB810;
  text-transform: uppercase;
  padding: 25px 15px;
  text-align: left;
}

.tabla_ost, th, tr{
  border-bottom: 1px solid #ddd;
}
.tabla_ost, tr:hover{
  background-color: #01ABAA;
}



h1,h2,h3,h4,h5,h6 {
      background-color:#01ABAA;
      color: #fff;
      text-transform: uppercase;
      padding: 25px 15px;
      text-align: left;
  }
